extends ./../layouts/main.pug

block variables
	- const title = "ЗАГОЛОВОК СТРАНИЦЫ";

block content

	// SVG-inline sprite
	div(style="display: none")
		include ../../img/dest/sprite.svg

	include ../sections/_header.pug
	
	main.main#main

		include ../templates/repeating-block.pug

		//- include ../sections/_section.pug

	include ../sections/_footer.pug

	//- svg(width="X" height="X").icon-class
	//- 	use(xlink:href="#icon-filename")